<div id="sidebar" data-controller="sidebar" class="d-flex flex-column flex-shrink-0 p-3 sidebar-bg" style="width: 280px; height: auto; transition: all 0.3s;">
  <a href="<%= root_path %>" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <!-- Logo / Title -->
  </a>
  <ul id="sidebarAccordion" class="nav nav-pills flex-column mb-auto">
    <!-- Dashboard -->
    <% if can_view_menu?('dashboard.index') %>
      <li class="nav-item">
        <%= link_to dashboard_path, class: "nav-link #{active_nav_item?(dashboard_path) ? 'active' : 'link-dark'}" do %>
          <i class="bi bi-speedometer2 me-2"></i> Dashboard
        <% end %>
      </li>
    <% end %>

    <!-- Staff Profile -->
    <% if can_view_menu?('staff_profiles.index') %>
      <li class="nav-item">
        <%= link_to staff_profiles_path, class: "nav-link #{active_controller?('staff_profiles') ? 'active' : 'link-dark'}" do %>
          <i class="bi bi-person-badge me-2"></i> Staff Profile
        <% end %>
      </li>
    <% end %>

    <!-- User Management -->
    <% has_user_mgmt_access = can_view_menu?('user_management.roles.index') || can_view_menu?('user_management.users.index') %>
    <% if has_user_mgmt_access %>
      <% user_management_active = active_controller?('user_management') %>
      <li>
        <a class="nav-link <%= user_management_active ? 'active' : 'link-dark' %>"
           data-bs-toggle="collapse"
           data-bs-target="#userManagementCollapse"
           href="#" role="button"
           aria-expanded="<%= user_management_active %>"
           aria-controls="userManagementCollapse">
          <i class="bi bi-shield-lock-fill me-2"></i> User Management
          <i class="bi bi-chevron-right float-end collapse-chevron"></i>
        </a>
        <div class="collapse <%= 'show' if user_management_active %>" id="userManagementCollapse" data-bs-parent="#sidebarAccordion">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ps-4">
            <% if can_view_menu?('user_management.roles.index') %>
              <li><%= link_to "Roles", user_management_roles_path, class: "nav-link #{active_controller?('user_management/roles') ? 'active' : 'link-dark'}" %></li>
            <% end %>
            <% if can_view_menu?('user_management.users.index') %>
              <li><%= link_to "Users", user_management_users_path, class: "nav-link #{active_controller?('user_management/users') ? 'active' : 'link-dark'}" %></li>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>
  <hr/>
  <p class="powered-by">Powered By ST Datablu</p>
</div>
