<div id="login-page">
  <div class="login-wrapper">
    <div class="login-container">
      <div class="back-button">
        <%= link_to ENV.fetch("APP_LANDING_PAGE_URL", "#"), aria: { label: "Return to OPM landing page" } do %>
          <i class="bi bi-arrow-left-circle-fill text-white me-1"></i> Back
        <% end %>
      </div>
      <%= image_tag "ids_logo.svg", alt: "OPM Logo", class: "logo" %>
      <h2>Organization Performance Management</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, placeholder: "Enter your email address", autocomplete: "email", class: "custom-input" %>
        </div>
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, placeholder: "Enter your password", autocomplete: "current-password", class: "custom-input" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <%= render "layouts/flash" %>
        <div class="actions">
          <%= f.submit "LOGIN" %>
        </div>
      <% end %>
      <h3>Powered By ST Datablu</h3>
    </div>
    <div class="login-background"></div>
  </div>
</div>
